
@{
    ViewBag.Title = "ComprarVehiculo";
    Layout = "~/Views/Shared/_Layout2SinCarousel.cshtml";
}

<h2>ComprarVehiculo</h2>

<script type="text/javascript" src="~/MDBootstrap/js/popper.min.js"></script>
<script type="text/javascript" src="~/MDBootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="~/MDBootstrap/js/mdb.min.js"></script>