@model  VentaVehiculoModelDB.Models.Vehiculo
@{
    ViewBag.Title = "Home Page";
}

<div>
    <br />
    <br />
    <div class="container">
        @Html.Partial("ListadoVehiculos")
    </div>
</div>


<script type="text/javascript" src="~/MDBootstrap/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/jsFiles/CartasHomePage.js"></script>
