@model  VentaVehiculoModelDB.Models.Vehiculo
@{
    ViewBag.Title = "Home Page";
}

<div style="height: 20vh" id="buscador">
  
    <form class="row flex-center elegant-color rounded mb-2 position-relative z-depth-4" id="filtro" >
        <h4 class="colorH4" style="color:white;">Buscador</h4>
        <hr class="col-11 danger-color linea"/>
        <div class="form-group col-md-2 ">
            <select class="browser-default custom-select">
                <option value="" disabled selected>Marca</option>
            </select>
        </div>
        <div class="form-group col-md-2 ">
            <select class="browser-default custom-select" disabled id="quitar2">
                <option value="" disabled selected>Modelo</option>
            </select>
        </div>
        <div class="form-group col-md-2 ">

            <select class="browser-default custom-select">
                <option value="" disabled selected>Tipo de vehiculo</option>
            </select>
        </div>
        <div class="col-2 offset-1 boton" >
            <button type="button" class="btn btn-danger">Buscar</button>
        </div>

    </form>



</div>