@model  VentaVehiculoModelDB.Models.Vehiculo
@{
    ViewBag.Title = "Home Page";
}




<div>
    <br />
    <br />
    <div class="container">
        @Html.Partial("ListadoVehiculos")
    </div>
</div>




